---

---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
		<title>é/acc</title>
		<style>
			body {
				cursor: url('Armadyl_godsword_v1.png'), auto;
			}
		</style>
	</head>
	<body class="flex flex-col h-full">
		<nav class="text-center text-lg font-serif text-dark-irish-green p-4 space-y-1">
			<h1 class="text-4xl font-semibold">Éire Accelerationism</h1>
			<h2 class="text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
		</nav>
		<hr class="border-t border-dark-irish-green" /> <!-- Divider -->
		<div class="flex flex-1 justify-around items-center p-4 overflow-auto text-center">
			<ul class="flex-1 flex flex-col justify-center items-center list-none space-y-8">
					<li class="text-green-600 underline">Manifesto (coming soon)</li>
					<li class="text-green-600 underline">Blog (coming soon)</li>
			</ul>
			<ul class="flex-1 flex flex-col justify-center items-center list-none space-y-8">
				<li class="text-green-600 underline">Associated Companies (coming soon)</li>
				<li class="text-green-600 underline">Associated People (coming soon)</li>
			</ul>
			<ul class="flex-1 flex flex-col justify-center litems-center list-none space-y-8">
				<li class="text-green-600 underline">Important Updates (coming soon)</li>
				<li class="text-green-600 underline">Events (coming soon)</li>
			</ul>
	</div>
		<hr class="border-t border-dark-irish-green" /> <!-- Divider -->
		<div class="flex justify-center items-center p-4 ">
			<div class="p-4 text-center bg-white ">
					<p class="text-lg font-bold uppercase font-serif text-dark-irish-green mb-4">Join the resistance</p>
	
					<form action="https://api.web3forms.com/submit" method="POST" class="flex flex-col gap-4 items-center">
							<input type="hidden" name="access_key" value="2b3ebddd-40be-40aa-8cd6-f86960e8ee60">
	
							<!-- Styling the email input -->
							<input type="email" name="email" required placeholder="Your Email" class="px-4 py-2 border rounded-lg text-gray-700" style="min-width: 250px;">
	
							<!-- CAPTCHA will auto-center as it is a block element within a flex container -->
							<div class="h-captcha" data-captcha="true"></div>
	
							<!-- Styling the submit button -->
							<button type="submit" class="px-4 py-2 bg-dark-irish-green text-white rounded-lg">Submit Form</button>
					</form>
	
					<div class="mt-4">
							<script src="https://web3forms.com/client/script.js" async defer></script>
					</div>
			</div>
	</div>
	
	<hr class="border-t border-dark-irish-green" /> <!-- Divider -->
	<footer class="p-4">
		<p class="text-center text-lg font-serif text-dark-irish-green">© 2024 Éire Accelerationism</p>
	</footer>
	</body>
</html>
