
---
import Dashboard from '../components/Dashboard.astro';
const dashboardItems = [
  { blockTitle:"TOTAL WEALTH", growth: 17, value: '10,000,000,000,000', link:"www.google.com" },
  { blockTitle:"NET ASSETS PER CAPITA", growth: 7, value: '354,000', link:"www.google.com" },
  { blockTitle:"MEDIAN HOUSEHOLD INCOME", growth: 0, value: '52,440', link:"https://www.google.com" },
  { blockTitle:"WEALTH BY ETHNICITY RANK", growth: 0, value: '4th', link:"www.google.com" }, 
  { blockTitle:"TOTAL POPULATION", growth: 0, value: '65,548,211', link:"https://en.wikipedia.org/wiki/Irish_diaspora#List_of_countries_by_population_of_Irish_heritage"}, 
  { blockTitle:"HEADS OF STATE", growth: 0, value: '4', link:"" }, 
];
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
		<title>é/acc</title>
		<style>
			body {
				cursor: url('Armadyl_godsword_v1.png'), auto;
			}
		</style>
	</head>
	<body class="flex flex-col">
		<nav class="text-center text-lg font-serif text-dark-irish-green p-4 space-y-1">
			<h1 class="text-4xl sm:text-6xl font-semibold">Éire Accelerationism</h1>
			<h2 class="text-xl sm:text-3xl">Accelerating Ireland toward a better future</h2>
		</nav>
		<hr class="border-t border-dark-irish-green" /> <!-- Divider -->
		<div class="flex flex-1 flex-col sm:flex-row justify-around items-center p-4 overflow-auto text-center  text-sm sm:text-lg">
			<ul class="flex-1 flex flex-col justify-center items-center list-none space-y-4 sm:space-y-8">
					<li class="text-green-600 underline">Manifesto (coming soon)</li>
					<li class="text-green-600 underline">Blog (coming soon)</li>
			</ul>
			<ul class="flex-1 flex flex-col justify-center items-center list-none space-y-4 sm:space-y-8">
				<li class="text-green-600 underline">Associated Companies (coming soon)</li>
				<li class="text-green-600 underline">Associated People (coming soon)</li>
			</ul>
			<ul class="flex-1 flex flex-col justify-center litems-center list-none space-y-4 sm:space-y-8">
				<li class="text-green-600 underline">Important Updates (coming soon)</li>
				<li class="text-green-600 underline">Events (coming soon)</li>
			</ul>
	</div>
		<hr class="border-t border-dark-irish-green" /> <!-- Divider -->
		<div class="flex justify-center items-center p-4 ">
			<div class="p-4 text-center bg-white ">
					<p class="text-xl sm:text-3xl font-bold uppercase font-serif text-dark-irish-green mb-4">Join the resistance</p>
	
					<form action="https://api.web3forms.com/submit" method="POST" class="flex flex-col gap-4 items-center">
							<input type="hidden" name="access_key" value="2b3ebddd-40be-40aa-8cd6-f86960e8ee60">
	
							<!-- Styling the email input -->
							<input type="email" name="email" required placeholder="Your Email" class="px-4 py-2 border rounded-lg text-gray-700 min-w-40 sm:min-w-80">
	
							<!-- CAPTCHA will auto-center as it is a block element within a flex container -->
							<div class="h-captcha" data-captcha="true"></div>
	
							<!-- Styling the submit button -->
							<button type="submit" class="px-4 py-2 bg-dark-irish-green text-white rounded-lg sm:text-lg sm:px-8 sm:py-4">Submit Form</button>
					</form>
	
					<div class="mt-4 transform scale-50">
							<script src="https://web3forms.com/client/script.js" async defer></script>
					</div>
			</div>
	</div>

	<hr class="border-t border-dark-irish-green" /> <!-- Divider -->
	
	<Dashboard blocks={dashboardItems} imageSrc="Map_of_the_Irish_Diaspora_in_the_World.svg-removebg-preview.png"/>

	<hr class="border-t border-dark-irish-green" /> <!-- Divider -->
	
	<footer class="p-4">
		<p class="text-center text-lg font-serif text-dark-irish-green">© 2024 Éire Accelerationism</p>
	</footer>
	</body>
</html>
