<html lang="en" class="h-screen">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap"
      rel="stylesheet"
    />
    <title>é/acc</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col h-screen">
    <nav
      class="text-center text-lg font-serif text-dark-irish-green p-4 space-y-1 bg-white"
    >
      <h1 class="text-4xl sm:text-6xl font-semibold">Éire Accelerationism</h1>
      <h2 class="text-xl sm:text-3xl">
        Accelerating Ireland toward a better future
      </h2>
    </nav>
    <hr class="border-t border-dark-irish-green" />
    <!-- Divider -->
    <div
      class="flex flex-1 flex-col sm:flex-col justify-center items-center p-12 overflow-auto text-center text-sm sm:text-lg"
    >
      <ul
        class="flex-1 flex flex-col justify-center items-center list-none space-y-4 sm:space-y-8"
      >
        <li class="text-green-600 underline">Our Manifesto (coming soon)</li>
      </ul>
      <div class="p-4 text-center bg-white">
        <p
          class="text-xl sm:text-3xl font-bold uppercase font-serif text-dark-irish-green mb-4"
        >
          Join us
        </p>

        <form
          action="https://api.web3forms.com/submit"
          method="POST"
          class="flex flex-col gap-4 items-center"
        >
          <input
            type="hidden"
            name="access_key"
            value="2b3ebddd-40be-40aa-8cd6-f86960e8ee60"
          />
          <!-- Styling the email input -->
          <input
            type="email"
            name="email"
            required
            placeholder="Your Email"
            class="px-4 py-2 border rounded-lg text-gray-700 min-w-40 sm:min-w-80"
          />
          <!-- CAPTCHA will auto-center as it is a block element within a flex container -->
          <div class="h-captcha" data-captcha="true"></div>

          <!-- Styling the submit button -->
          <button
            type="submit"
            class="px-4 py-2 bg-dark-irish-green text-white rounded-lg sm:text-lg sm:px-8 sm:py-4"
          >
            Submit
          </button>
        </form>

        <div class="mt-4 transform scale-50">
          <script src="https://web3forms.com/client/script.js" async defer
          ></script>
        </div>
        <script type="module">
          // JavaScript to toggle CAPTCHA visibility
          document.addEventListener("DOMContentLoaded", () => {
            const emailInput = document.querySelector('input[type="email"]');
            const captcha = document.querySelector(".h-captcha");

            captcha.style.display = "none"; // Initially hide CAPTCHA

            emailInput.addEventListener("input", () => {
              if (emailInput.value) {
                captcha.style.display = "block"; // Show CAPTCHA when user starts typing
              } else {
                captcha.style.display = "none"; // Hide CAPTCHA if input is cleared
              }
            });
          });
        </script>
      </div>
    </div>

    <hr class="border-t border-dark-irish-green" />
    <!-- Divider -->

    <footer class="p-4 flex flex-col items-center space-y-4">
      <img
        class="w-6 h-6 stroke-dark-irish-green"
        src="/logo.svg"
        alt="Logo"
        class="mb-4"
      />
      <!-- Include your SVG here -->
      <p class="text-center text-lg font-serif text-dark-irish-green">
        © 2024 Éire Accelerationism
      </p>
    </footer>
  </body>
</html>
